.Item-delete-btn {
  border: none;
  padding: none;
  background-color: transparent !important;
}

.Item-qty-cell {
  max-width: 70px;
}

.Item-delete-cell {
  max-width: 70px;
}

.Item-qty-arrow {
  border: none !important;
  background-color: transparent !important;
  margin: 0 10px 0 10px;
}