.ListCard-title:hover {
  color: #5360de;
}

.ListCard-title:hover > i {
  color: #5360de;
}

.ListCard-title i {
  color: transparent;
  font-size: .8em;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.ListCard-title {
  text-transform: capitalize;
  color: #223E87;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.ListCard-delete-btn:hover {
  color: red;
}

.ListCard-date-header {
  color: #667DBA;
}