.Home {
  text-align: center;
  background-image: url("../blueBackgroundImg.jpeg");
  background-size: cover;
  height: 100vh;
  color: #abebf4;
}


.Home-title {
  font-family: 'Fredoka One', sans-serif;
  color: #EF9269;
}