.Home {
  text-align: center;
  background-image: url("../blueBackgroundImg.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Home-title {
  font-family: 'Fredoka One', sans-serif;
  color: #EF9269;
  font-size: 7rem;
}

.Home-content {
  min-height: 35vh;
  display: grid;
  place-items: center;
  margin-bottom: 110px;
}

.Home-btn {
  width: 35%;
  color: #223E87 !important;
  background-color: #9adced6c !important;
  border-color: #9ADDED !important;
  box-shadow: 4px 4px 8px #79c8d1b1, -4px -4px 8px #C3F0FAb1;
}

.Home-btn:hover {
  color: #223E87 !important;
  background-color: #c3f0faa4 !important;
  border-color: #C3F0FA !important;
  outline: none !important;
  box-shadow: inset 2px 2px 5px #9ADDED, inset -3px -3px 7px #C3F0FA !important;
}

.Home-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.Home-input {
  box-shadow: 4px 4px 8px #C3F0FAb1, -4px -4px 8px #79c8d1b1;
}