@import url("https: //fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https: //fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* .App {
  text-align: center;
  background-image: url("./images/blueBackgroundImg.jpeg");
  background-size: cover;
  height: 100vh;
  color: #abebf4;
}


.App-title {
  font-family: 'Fredoka One', sans-serif;
  color: #EF9269;
}
 */
