.Login {
  text-align: center;
  background-image: url("../blueBackgroundImg.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-form {
  margin-top: 30px;
}


.Login-title {
  font-family: 'Fredoka One', sans-serif;
  color: #667DBA;
  font-size: 5rem;
}

.Login-content {
  min-height: 35vh;
  display: grid;
  place-items: center;
  margin-bottom: 110px;
}

.Login-btn {
  width: 35%;
}

.Login-form-section {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.Login-form-container {
  width: 80%;
}


.Login-form-input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.Login-form-input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2ca;
  border: none;
  color: #626e8a;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out .5s;
}

.Login-form-input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}