.Signup {
  text-align: center;
  background-image: url("../blueBackgroundImg.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signup-form {
  margin-top: 30px;
}

.Signup-btn {
  width: 35%;
  color: #223E87 !important;
  background-color: #9adced6c !important;
  border-color: #9ADDED !important;
  box-shadow: 4px 4px 8px #79c8d1b1, -4px -4px 8px #C3F0FAb1;
}

.Signup-btn:hover {
  color: #223E87 !important;
  background-color: #c3f0faa4 !important;
  border-color: #C3F0FA !important;
  outline: none !important;
  box-shadow: inset 2px 2px 5px #9ADDED, inset -3px -3px 7px #C3F0FA !important;
}

.Signup-input {
  box-shadow: 4px 4px 8px #C3F0FAb1, -4px -4px 8px #79c8d1b1;
}

.Signup-title {
  font-family: 'Fredoka One', sans-serif;
  color: #667DBA;
  font-size: 5rem;
}

.Signup-content {
  min-height: 35vh;
  display: grid;
  place-items: center;
  margin-bottom: 110px;
}

.Signup-btn {
  width: 35%;
}

.Signup-form-section {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.Signup-form-container {
  width: 80%;
}


.Signup-form-input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.Signup-form-input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2ca;
  border: none;
  color: #626e8a;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out .5s;
}

.Signup-form-input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}