.Signup {
  text-align: center;
  background-image: url("../blueBackgroundImg.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Signup-title {
  font-family: 'Fredoka One', sans-serif;
  color: #667DBA;
  font-size: 5rem;
}

.Signup-content {
  min-height: 35vh;
  display: grid;
  place-items: center;
  margin-bottom: 110px;
}

.Signup-btn {
  width: 35%;
}

.Signup-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}